nav{
    width: 95%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 15px 5px 0 rgba(0, 0, 0, 0.25);
    border-radius: 13px;
    background-color: white;
    position: fixed;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    padding: 0 30px;
}


nav .containt{
    display: flex;
}

nav .nav-items{
    display: flex;
    list-style: none;
    margin-right: 20px;
}

nav .nav-items a{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.7rem 1rem;
}

nav .nav-items a:hover{
    background-color: #01959a;
    color: #fff;
}

nav .containt button{
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    border: none;
}

nav .containt button:hover{
    background-color: black;
    color: white;
}